.mainSec_grid_wrapper {
  display: grid;
  height: calc(100vh-150px);
  grid-template-columns: 0.8fr 1fr 0.6fr;
}
.photo_wrapper > img {
  max-width: 250px;
}
.photo_wrapper {
  text-align: center;
  padding-top: 10%;
}
.mainSec {
  padding-top: 150px;
  /* padding-bottom: 150px; */
}
.home_name {
  font-size: 2.5rem;
  font-weight: 700;
}
.btn {
  background: none;
  padding: 8px 15px;
  border: 2px solid rgb(51, 163, 254);
  cursor: pointer;
  border-radius: 6px;
  font-size: 22px;
  color: #454360;
  transition: ease-in-out 0.3s;
}
.icon_holder {
  display: none;
}
.photo_wrapper > img{
  border-radius: 8px;
  /*height: 250px;*/
  /*width: 250px;*/
}
.btn:hover + .icon_holder {
  /* display: block; */
  background: rgb(51, 163, 254);
  /* border: 2px solid #454360; */
  box-shadow: 0px 0px 8px #454360;
  padding-right: 35px;
  color: #fff;
}
.parallax_wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh-150px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paralax_img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media(max-width:820px){
  .mainSec_grid_wrapper{
    grid-template-columns: 1fr;
  }
  .mainSec_grid_wrapper > div { 
    margin:  20px auto;
  }
  .mainSec{
    padding-top: 0;
  }
}
